html {
    font-size: 16px;
    font-family: 'Titillum Web', sans-serif;
    background-color: #267099;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "dosis", sans-serif;
    font-size: 3rem;
    color: #fffacd;
    text-align: center;

}

h2 {
    font-size: 2rem;
}

li {
    font-size: 1.5rem;
    transform: translateX(22px);
    margin-bottom: 1rem;
}

span {
    color: gold;
}

.blue-box {
    width: 100%;
    height: 50vh;
    background-color: #267099;
    color: #fffacd;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.white-box {
    width: 100%;
    height: 50vh;
    background-color: #fffacd;
    color: #267099;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#animation-pre {
    width: 200px;
}

#click-prompt {
    color: #fffacd8f;
}

#fish {
    width: 450px;
}

#fish-count {
    transform: translateX(-18px);
}

@media only screen and (max-width: 800px) {
    .blue-box, .white-box {
        flex-direction: column;
        height: 100vh;
        padding: 40px;
    }

    h2 {
        font-size: 1.5rem;
    }
}
